@import "./libs/fonts";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
    scroll-behavior: smooth;
}


.container {
    width: 70%;
    margin: 0 auto;
    position: relative;
}

// html {
   
// }


button, textarea, input {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    // &:hover {
    //     text-decoration: underline;
    // }
}


@import "./blocks/header";
@import "./blocks/main";
@import "./blocks/qualites";
@import "./blocks/why";
@import "./blocks/reviews";
@import "./blocks/material";
@import "./blocks/price";
@import "./blocks/question";
@import "./blocks/map";
@import "./blocks/footer";
@import "./blocks/modal";
@import "./blocks/continue";
// Media 
@import "./media/container.media";
@import "./media/header.media";
@import "./media/qualites.media";
@import "./media/why.media";
@import "./media/reviews.media";
@import "./media/material.media";
@import "./media/price.media";
@import "./media/question.media";
@import "./media/map.media";
@import "./media/footer.media";
@import "./media/modal.media";
@import "./media/continue.media";
