.reviews {
    height: auto;
    background-color: #F4F7FE;
    padding: 5rem 0;

    &-pag {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
        column-gap: 15px;
        button {
            width: 150px;
            background-color: #2389FF;
            height: 40px;
            border-radius: 10px;
            color: #fff;
            font-weight: 600;
            cursor: pointer;
        }
    }

    &__title {
        font-size: 2.625rem;
        color: #304560;
        font-weight: 500;
    }

    &__subtitle {
        font-size: 1.25rem;
        color: #728399;
        font-weight: 500;
    }

    &-slider {
        width: 100%;
        // max-width: 1200px; /* Увеличил максимальную ширину */
        position: relative;
        overflow: hidden;
        margin-top: 20px;

        &-container {
            display: flex   ;
            transition: transform 0.5s ease-in-out;
        }
    }
  
    &__slide {
        // width: 23%;
        height: 100%;
        padding: 30px;
        // min-width: 320px;
        background-color: #ffffff;
        border-radius: 1.25rem; 
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        &-header {
            display: flex;
            align-items: center;
            column-gap: 1.25rem;
        }

        &-avatar {
            width: 5rem; 
            height: 5rem; 
            border-radius: 100%; 
            overflow: hidden; 
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-info {
            &--name {
                color: #728399;
                font-size: 1.25rem;
                font-weight: 500;
            }

            &--role {
                color: #304560;
                font-size: 1.125rem; 
                font-weight: 600;
            }

            &--rating {
                margin-top: 0.625rem; 
            }
        }

        &-star {
            width: 0.9375rem; 
            height: 0.9375rem;

            img {
                width: inherit;
                height: inherit;
                object-fit: cover;
            }
        }
        &-title {
            margin-top: 1.5625rem; 
            color: #304560;
            font-size: 1.125rem; 
        }

        &-description {
            margin-top: 0.5rem; 
            font-size: 16px; 
            color: #728399;
        }
        &-link {
            color: #2389FF;
            margin-top: 1rem;
            font-weight: 500;
            font-size: 1.125rem; 
            text-decoration: none;
        }
    }
  
}

@media (min-width: 992px) {
    .reviews-slider-container {
      width: 266.66666667%; /*  (8 slides / 3 visible) * 100 */
    }
    .review__slide {
      width: 33.33333333%; /* 100 / 3 visible slides */
    }
  }

  @media (max-width: 991px) and (min-width: 568px){
      .reviews-slider-container {
          width: 200%; /* (8 слайдов / 4 видимых) * 100% = 200% */
      }
      .review__slide {
          width: 25%; /* 100% / 4 видимых слайда */
      }

  }

  @media (max-width: 567px) {
    .reviews-slider-container {
      width: 800%;  /*(8 slides / 1 visible) * 100 */
    }
    .review__slide {
      width: 12.5%;  /* 100 / 8 slides */
      padding: 5px;
    }
  }

  @media (max-width: 320px) {
    .reviews-slider {
      width: 95%;
    }

   
}

