.reviews {
    height: auto;
    background-color: #F4F7FE;
    padding: 5rem 0;

    &__title {
        font-size: 2.625rem;
        color: #304560;
        font-weight: 500;
    }

    &__subtitle {
        font-size: 1.25rem;
        color: #728399;
        font-weight: 500;
    }

    &-slider {
        overflow: hidden;
        margin-top: 20px;
        &-container {
            display: flex   ;
            // justify-content: space-between;
            gap: 15px;
        }
    }
  
    &__slide {
        width: 25%;
        padding: 30px;
        background-color: #ffffff;
        border-radius: 1.25rem; 
        display: flex;
        flex-direction: column;
        &-header {
            display: flex;
            align-items: center;
            column-gap: 1.25rem;
        }

        &-avatar {
            width: 5rem; 
            height: 5rem; 
            border-radius: 100%; 
            overflow: hidden; 
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-info {
            &--name {
                color: #728399;
                font-size: 1.25rem;
                font-weight: 500;
            }

            &--role {
                color: #304560;
                font-size: 1.125rem; 
                font-weight: 600;
            }

            &--rating {
                margin-top: 0.625rem; 
            }
        }

        &-star {
            width: 0.9375rem; 
            height: 0.9375rem;

            img {
                width: inherit;
                height: inherit;
                object-fit: cover;
            }
        }
        &-title {
            margin-top: 1.5625rem; 
            color: #304560;
            font-size: 1.125rem; 
        }

        &-description {
            margin-top: 0.5rem; 
            font-size: 16px; 
            color: #728399;
        }
        &-link {
            color: #2389FF;
            margin-top: 1rem;
            font-weight: 500;
            font-size: 1.125rem; 
            text-decoration: none;
        }
    }
    &__navigation {
        position: absolute;
        top: 57%;
        left: -9%;
        right: -9%;
        display: flex;
        justify-content: space-between;  
        align-items: center;
        padding: 0 1rem;                 
    }

    &__navigation-button-prev,
    &__navigation-button-next {
        width: 2.5rem;  
        height: 2.5rem;         
        border-radius: 50%;
        background: rgba(35, 137, 255, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border: none;            
        padding: 0;         
        &:hover {
           border: 1px solid rgba(35, 138, 255, 0.534);
           background: transparent;
        }
        img {
            width: 15px;         
            height: 15px;      
            object-fit: contain;  
        }
    }

    &__pagination {
        position: relative;
        text-align: center;
        margin-top: 20px;
        display: flex;
        column-gap: 5px;
        justify-content: center;
        &-tab {     
            width: 12px;         
            height: 12px;     
            display: block;    
            border-radius: 100%;
            background-color: #ddd;      
            opacity: 1;                
            cursor: pointer;
        }
        &-tab-active { 
            background-color: #2389FF;    
        }
    }
}

