@media (max-width: 1400px) {
   .reviews {
        &-navigation {
                button {
                    position: absolute;
                    top: unset;
                    bottom: 5px;
                
                    &:hover {
                        background: none;
                        border: 1px solid #238aff81;
                    }
                }
                &-next {
                    right: 42%;
                }
                &-prev {
                    left: 42%;
                }
        }
        &-pagination {
            margin-top: 40px;
        }
   }
   
    
}
@media (max-width: 1300px) {
    .reviews {
        &-navigation {
              
                &-next {
                    right: 40%;
                }
                &-prev {
                    left: 40%;
                }
            }
            &-pagination {
                margin-top: 40px;
            }
       }
       
}
@media (max-width: 900px) {
    .reviews {
        &__title {
            font-size: 28px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &-navigation {
              
                &-next {
                    right: 32%;
                }
                &-prev {
                    left: 32%;
                }
            }
            &-pagination {
                margin-top: 40px;
            }

            &-slide {
                &-avatar {
                    width: 60px;
                    height: 60px;
                }
                &-info {
                    &--name {
                        font-size: 16px;
                    }
                    &--role {
                        font-size: 14px;
                    }
                    &--rating {
                       margin-top: 5px;
                    }
                }

                &-title {
                    font-size: 16px;
                }
                &-description {
                    font-size: 14px;
                }
            }
       }

      
}
@media (max-width: 600px) {
    .reviews {
        &-navigation {
              
                &-next {
                    right: 20%;
                }
                &-prev {
                    left: 20%;
                }
            }
            &-pagination {
                margin-top: 40px;
            }
       }
}
@media (max-width: 500px) {
    .reviews {
        &__title {
            font-size: 24px;
        }
        &__subtitle {
            font-size: 14px;
        }
        &-navigation {
              
                &-next {
                    right: 10%;
                }
                &-prev {
                    left: 10%;
                }
            }
          
            &-pagination {
                margin-top: 40px;
                column-gap: 5px;
                &-item {
                    width: 10px;
                    height: 10px;
                }
            }
       }
}
@media (max-width: 380px) {
    .reviews {
        &-navigation {
                button {
                    width: 40px;
                    height: 40px;
                    img {
                        width: 15px;
                    }
                }
                &-next {
                    right: 10%;
                }
                &-prev {
                    left: 10%;
                }
            }
            


            
       }
}

